.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 7%; 
  min-width: 80px;
  height: 100vh;
  background-color: #464545; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-sizing: border-box;
  z-index: 1100;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 0;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar-link .icon {
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffffff; 
}

.sidebar-link span {
  font-size: 14px;
  color: #ffffff; 
}

.sidebar-link:hover {
  background-color: #333333;
}

.sidebar-link.active {
  background-color: #1e90ff; 
  color: #ffffff; 
}

.sidebar-link.active .icon {
  color: #ffffff; 
}

.logout-icon-wrapper {
  margin-top: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.logout-icon {
  font-size: 24px;
  color: #ffffff; 
  transition: color 0.3s;
}

.logout-icon-wrapper:hover .logout-icon {
  color: #a6a6a6;
}
